/********** Template CSS ************/
h1,
.font-weight-bolder {
  font-weight: 900 !important;
}

h2,
h3,
.font-weight-bold {
  font-weight: 700 !important;
}

h4,
h5 .font-weight-medium {
  font-weight: 500 !important;
}

h6,
.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-thin {
  font-weight: 100 !important;
}